<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shouyou.ims.dao.ClientDao">
    <select id="findById" resultType="Client">
      SELECT c.id,c.name,c.ali_wang,c.wechat,c.phone,c.qq,c.user_id,c.level_id,c.total_money,c.status,
      l.name as levelName,u1.name as userName
      FROM  clients c
      LEFT JOIN users u1 ON u1.id = c.user_id
      LEFT JOIN levels l ON c.level_id = l.id
      WHERE c.id = #{id} AND c.status = 1
    </select>

    <select id="findListCon" resultType="Client">
      SELECT c.id,c.name,c.ali_wang,c.wechat,c.phone,c.qq,c.user_id,u1.name as userName,c.status
      FROM  clients c
      LEFT JOIN users u1 ON u1.id = c.user_id
      WHERE c.status =1 AND (c.ali_wang = #{condition} OR c.wechat = #{condition}
      OR c.phone = #{condition} OR c.qq = #{condition})
    </select>

    <select id="queryRepeat" resultType="Client">
        SELECT c.id,c.name,c.ali_wang,c.wechat,c.phone,c.qq,c.user_id,c.level_id,u1.name as userName,c.status
        FROM clients c
        LEFT JOIN users u1 ON u1.id = c.user_id
        <where>
            <if test="name!=null">
                OR c.name = #{name}
            </if>
            <if test="aliWang!=null">
                OR c.ali_wang = #{aliWang}
            </if>
            <if test="wechat!=null">
                OR c.wechat = #{wechat}
            </if>
            <if test="phone!=null">
                OR c.phone = #{phone}
            </if>
            <if test="qq!=null">
                OR c.qq = #{qq}
            </if>
        </where>
    </select>

    <select id="findList" resultType="Client">
        SELECT c.id,c.name,c.ali_wang,c.wechat,c.phone,c.qq,c.user_id,c.level_id,c.total_money,c.status,c.update_date,c.insert_date,
        l.name as levelName,u2.name as updateUser,u3.name as insertUser,u1.name as userName
        FROM  clients c
        LEFT JOIN users u1 ON u1.id = c.user_id
        LEFT JOIN levels l ON c.level_id = l.id
        LEFT JOIN users u2 ON c.update_user = u2.id
        LEFT JOIN users u3 ON c.insert_user = u3.id
        <where>
            c.status = #{status}
            <if test="name!=null">
                AND c.name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="aliWang!=null">
                AND c.ali_wang LIKE CONCAT('%',#{aliWang},'%')
            </if>
            <if test="wechat!=null">
                AND c.wechat LIKE CONCAT('%',#{wechat},'%')
            </if>
            <if test="phone!=null">
                AND c.phone LIKE CONCAT('%',#{phone},'%')
            </if>
            <if test="qq!=null">
                AND c.qq LIKE CONCAT('%',#{qq},'%')
            </if>
            <if test="userName!=null">
                AND u1.name LIKE CONCAT('%',#{userName},'%')
            </if>
            <if test="levelId!=null">
                AND c.level_id = #{levelId}
            </if>
            <if test="totalMoney!=null">
                AND c.total_money = #{totalMoney}
            </if>
        </where>
    </select>
    
    <select id="findRepeat">
        SELECT c.id,c.name,c.ali_wang,c.wechat,c.phone,c.qq,c.user_id,c.level_id,c.total_money,c.status,c.update_date,c.insert_date,
        l.name as levelName,u2.name as updateUser,u3.name as insertUser,u1.name as userName
        FROM  clients c
        LEFT JOIN users u1 ON u1.id = c.user_id
        LEFT JOIN levels l ON c.level_id = l.id
        LEFT JOIN users u2 ON c.update_user = u2.id
        LEFT JOIN users u3 ON c.insert_user = u3.id
        WHERE
            <if test="aliWang!=null">
                c.ali_wang = #{aliWang}
            </if>
            <if test="wechat!=null">
                OR c.wechat = #{wechat}
            </if>
            <if test="phone!=null">
                OR c.phone = #{phone}
            </if>
            <if test="qq!=null">
                OR c.qq = #{qq}
            </if>
    </select>

    <insert id="insert">
        INSERT INTO clients
        (
          id,name,ali_wang,wechat,phone,qq,user_id,level_id,update_date,insert_date,update_user,insert_user
        )
        VALUES
        (
          #{id,jdbcType=VARCHAR},
          #{name,jdbcType=VARCHAR},
          #{aliWang,jdbcType=VARCHAR},
          #{wechat,jdbcType=VARCHAR},
          #{phone,jdbcType=VARCHAR},
          #{qq,jdbcType=VARCHAR},
          #{userId,jdbcType=VARCHAR},
          #{levelId,jdbcType=VARCHAR},
          #{updateDate,jdbcType=TIMESTAMP},
          #{insertDate,jdbcType=TIMESTAMP},
          #{updateUser,jdbcType=VARCHAR},
          #{insertUser,jdbcType=VARCHAR}
        )
    </insert>

    <update id="update">
        UPDATE clients SET
          name = #{name,jdbcType=VARCHAR},
          ali_wang = #{aliWang,jdbcType=VARCHAR},
          wechat = #{wechat,jdbcType=VARCHAR},
          phone = #{phone,jdbcType=VARCHAR},
          qq = #{qq,jdbcType=VARCHAR},
          user_id = #{userId,jdbcType=VARCHAR},
          level_id = #{levelId,jdbcType=VARCHAR},
          total_money = #{totalMoney,jdbcType=VARCHAR},
          status = #{status,jdbcType=VARCHAR},
          update_date = #{updateDate,jdbcType=DATE},
          insert_date = #{insertDate,jdbcType=DATE},
          update_user = #{updateUser,jdbcType=VARCHAR},
          insert_user = #{insertUser,jdbcType=VARCHAR}
          WHERE id = #{id}
    </update>

    <update id="updatePrice">
        UPDATE clients SET
        level_id = #{levelId,jdbcType=VARCHAR},
        total_money = #{totalMoney,jdbcType=VARCHAR},
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE clients SET status = 9999,update_user = #{userId}
        WHERE
        id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

</mapper>