<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shouyou.ims.dao.GamePlatformDao">
    <select id="findById" resultType="GamePlatform">
        SELECT tr.id,tr.name,tr.status,tr.remark,tr.update_date,tr.insert_date,
        u1.name as updateUser,u2.name as insertUser
        FROM game_platform tr
        LEFT JOIN users u1 on tr.update_user = u1.id
        LEFT JOIN users u2 on tr.insert_user = u2.id
        WHERE id = #{id}
    </select>

    <select id="findList" resultType="GamePlatform">
        SELECT tr.id,tr.name,tr.status,tr.remark,tr.update_date as updateDate,tr.insert_date as insertDate,
        u1.name as updateUser,u2.name as insertUser
        FROM game_platform tr
        LEFT JOIN users u1 on tr.update_user = u1.id
        LEFT JOIN users u2 on tr.insert_user = u2.id
        <where>
            tr.status = 1
            <if test="name!=null">
                AND tr.name LIKE CONCAT('%',#{name},'%')
            </if>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO game_platform (name,remark,update_date,insert_date,update_user,insert_user)
        VALUES (#{name},#{remark},#{updateDate},#{insertDate},#{updateUser},#{insertUser})
    </insert>

    <update id="update">
        UPDATE game_platform SET
        name = #{name},
        remark = #{remark},
        update_date = #{updateDate},
        update_user = #{updateUser}
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE game_platform SET
        status = 0,update_user = #{userId}
        WHERE id = #{id}
    </update>

    <update id="deleteMul">
        UPDATE game_platform SET
        status = 0,update_user = #{userId}
        WHERE
        id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <select id="searchByLike" resultType="GamePlatform">
        SELECT tr.id,tr.name,tr.status
        FROM game_platform tr
        <where>
            tr.status = 1
            <if test="search!=null">
                AND tr.name LIKE CONCAT(#{search},'%')
            </if>
        </where>
    </select>

    <select id="findByName" resultType="GamePlatform">
        SELECT tr.id,tr.name,tr.status
        FROM game_platform tr
        <where>
            tr.status = 1
            <if test="search!=null">
                AND tr.name = #{search}
            </if>
        </where>
    </select>

    <select id="searchByEn" resultType="GamePlatform">
        SELECT tr.id,tr.name
        FROM game_platform tr,
        <foreach collection="list" index="index" separator=",">
            t_cosler c${index}
        </foreach>
        WHERE tr.status = 1 AND
        <foreach collection="list" index="index" item="item" separator="AND">
            CONV(HEX(substring(tr.name,${index+1},1)),16,10) between c${index}.cBegin and c${index}.cEnd AND
            c${index}.f_PY = #{item}
        </foreach>

    </select>
</mapper>