<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shouyou.ims.dao.OrderDao">
    <select id="findById" resultType="Order">
        SELECT o.id,o.order_number,o.client_id,o.game_id,o.platform_id,o.account_id,o.pay_id,o.trading_id,o.status,
            o.production_price,o.trading_price,o.recharge_type,o.remark,o.update_date,o.insert_date,
            c.name as clientName,g.name as gameName,gp.name as platformName,a.name as accountName,
            pw.name as payName,tr.name as tradingName,
            u1.name as updateUser,u2.name as insertUser
        FROM orders o
        LEFT JOIN clients c ON c.id = o.clientId
        LEFT JOIN game g ON o.game_id = o.game_id
        LEFT JOIN gaming_platform gp ON o.platform_id = gp.id
        LEFT JOIN accounts a ON o.account_id = a.id
        LEFT JOIN pay_way pw ON o.pay_id = pw.id
        LEFT JOIN trading_route tr ON o.trading_id = tr.id
        LEFT JOIN users u1 on o.update_user = u1.id
        LEFT JOIN users u2 on o.insert_user = u2.id
        WHERE o.id = #{id}
    </select>
    <select id="findList" resultType="Order">
        SELECT o.id,o.order_number,o.client_id,o.game_id,o.platform_id,o.account_id,o.pay_id,o.trading_id,o.status,o.denomination
            o.production_price,o.trading_price,o.recharge_type,o.remark,o.update_date,o.insert_date,
            c.name as clientName,g.name as gameName,gp.name as platformName,a.name as accountName,
            pw.name as payName,tr.name as tradingName,
            u1.name as updateUser,u2.name as insertUser
        FROM orders o
        LEFT JOIN clients c ON c.id = o.clientId
        LEFT JOIN game g ON o.game_id = o.game_id
        LEFT JOIN gaming_platform gp ON o.platform_id = gp.id
        LEFT JOIN accounts a ON o.account_id = a.id
        LEFT JOIN pay_way pw ON o.pay_id = pw.id
        LEFT JOIN trading_route tr ON o.trading_id = tr.id
        LEFT JOIN users u1 on o.update_user = u1.id
        LEFT JOIN users u2 on o.insert_user = u2.id
        <where>
            1=1
            <if test="orderNumber!=null and orderNumber!=''">
                AND o.order_number LIKE CONCAT('%',#{orderNumber},'%')
            </if>
            <if test="clientName!=null and clientName!=''">
                AND c.name LIKE CONCAT('%',#{clientName},'%')
            </if>
            <if test="gameId!=null and gameId!=''">
                AND o.game_id = #{gameId}
            </if>
            <if test="platformId!=null and platformId!=''">
                AND o.platform_id = #{platformId}
            </if>
            <if test="accountId!=null and accountId!=''">
                AND o.account_id = #{accountId}
            </if>
            <if test="payId!=null and payId!=''">
                AND o.pay_id = #{payId}
            </if>
            <if test="tradingId!=null and tradingId!=''">
                AND o.trading_id = #{tradingId}
            </if>
            <if test="status!=-1">
                AND o.status = #{status}
            </if>
            <if test="denomination!=null">
                AND o.denomination = #{denomination}
            </if>
            <if test="tradingPrice!=null">
                AND o.trading_price = #{tradingPrice}
            </if>
            <if test="productionPrice!=null">
                AND o.production_price = #{productionPrice}
            </if>
            <if test="rechargeType!=-1">
                AND o.recharge_type = #{rechargeType}
            </if>
            <if test="updateUser!=null and updateUser!=''">
                AND o.update_user = #{updateUser}
            </if>
            <if test="insertUser!=null and insertUser!=''">
                AND o.insert_user = #{insertUser}
            </if>
        </where>
    </select>
    
    <insert id="insert">
        INSERT INTO orders 
        (id,order_number,client_id,game_id,platform_id,account_id,pay_id,trading_id,status,denomination
            production_price,trading_price,recharge_type,remark,update_date,insert_date,insert_user,update_user)
            VALUES
        (#{id},#{orderNumber},#{clientId},#{gameId},#{platformId},#{accountId},#{payId},#{tradingId},#{status},#{denomination}
            #{productionPrice},#{tradingPrice},#{rechargeType},#{remark},#{updateDate},#{insertDate},#{insertUser},#{updateUser})
    </insert>

    <update id="update">
        UPDATE orders SET
          game_id = #{gameId},
          platform_id = #{platformId},
          pay_id = #{payId},
          status = #{status},
          denomination = #{denomination},
          production_price = #{productionPrice},
          trading_price = #{tradingPrice},
          recharge_type = #{rechargeType},
          update_date = #{updateDate},
          update_user = #{updateUser}
        WHERE
          id = #{id}
    </update>
</mapper>